<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
				            http://www.springframework.org/schema/beans/spring-beans.xsd				           
				            http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<!-- 配置没问题 -->
	<bean id="waybillWs" class="cn.redsun.ws.impl.WaybillWs">
		<property name="iWaybillBiz" ref="iWaybillBiz"></property>
		<property name="iWaybilldetailBiz" ref="iWaybilldetailBiz"></property>
	</bean>

	<!-- 发布服务 -->
	<jaxws:server address="/waybill">
		<jaxws:serviceBean>
			<ref bean="waybillWs" />
		</jaxws:serviceBean>
	</jaxws:server>

</beans>
